.navbar {
  background-color: black;
}
.dropdown-menu {
  background-color: black !important;
  color: white;
}
.dropdown-item {
  background-color: black !important;
  color: white;
}
.nav-link {
  color: white !important;
}
a:hover {
  color: orange !important;
}
.nav-link:hover {
  color: orange !important;
}
