.list-group-item {
  background-color: #191c22 !important;
  color: #ffffff;
  border-color: rgba(216, 216, 216, 0.664) !important;
}
strong {
  color: orange;
}
.custom-shining {
  box-shadow: 0 1px 1px rgba(255, 166, 0, 0.445) inset,
    0 0 8px rgba(255, 218, 163, 0.671) !important;
}
.list-group-flush {
  box-shadow: 0 !important;
}
.col-md-6 > .list-group > .list-group-item {
  background-color: #191c22 !important;
}

.graph-star-rating {
  background-color: #191c22 !important;
  border-radius: 50 !important;
}
.graph-star-rating-header .star-rating {
  font-size: 17px;
}
.progress {
  background: #f2f4f8 none repeat scroll 0 0;
  border-radius: 40;
  height: 30px;
}
.rating-list {
  display: inline-flex;
  margin-bottom: 15px;
  width: 100%;
}
.rating-list-left {
  height: 16px;
  line-height: 29px;
  width: 10%;
}
.rating-list-center {
  width: 80%;
}
.rating-list-right {
  line-height: 29px;
  text-align: right;
  width: 10%;
}
